# FastAPI MySQL (job 진행상태)
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_USER=chok_ai
MYSQL_PASSWORD=password
MYSQL_DB=chok_ai
# docker-compose에서만 사용 (앱은 안 읽음)
MYSQL_ROOT_PASSWORD=root

# Spring 게이트웨이
SPRING_BASE_URL=http://localhost:8080
